{{ define "main" }}
<section class="section-sm pb-0">
  <div class="container">
    <div class="row border-border dark:border-darkmode-border justify-center border-b pb-14 aos-wrapper" data-aos="fade-up" data-aos-duration="1500">
      <div class="lg:col-10 text-left justify-content aos-wrapper" data-aos="fade-up" data-aos-duration="1500">
        {{ $image:= .Params.image }}
        {{ if $image }}
        {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mx-auto img-shadow" "Size" "200x200") }}
        {{ end }}
        <h1 class="h3 mt-10">{{ .Title }}</h1>
        <div class="content mt-7" data-aos="fade-up" data-aos-duration="1500">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}